{% extends "comps/output.html" %}

{% block content %}
<h4>Convert money to time:</h4>
<p>It allows converting money to the amount of time required to earn that money so you know the real cost.</p>
<form hx-post="/money.convert.run" hx-target="#outputs" hx-swap="afterbegin" hx-on::after-request="if(event.detail.successful) this.reset()">
  <input id="amount" name="amount" type="text" placeholder="Amount">
  <input id="hourly_wage" name="hourly_wage" type="text" placeholder="Hourly Wage">
  <button type="submit">►</button>
</form>
{% endblock %}
