body {
  margin: 40px auto;
  padding: 0 10px;
  max-width: 650px;
  font-size: 18px;
  color: #444;
  line-height: 1.6;
  display: block;
  overflow: auto;
}

h1, h2, h3 {
  line-height: 1.2;
}

.rich-text {
  white-space: pre-wrap;
}

.frame {
  border-style: groove;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: auto;
}

.frame__actions {
  border-bottom-style: groove;
}

.footer {
  text-align: center;
}

.input-pair {
  display: flex;
  flex-direction: column;
  margin: 3px;
  max-width: 100px;
}

.right-sidebar {
  display: flex;
  flex-direction: row;
  column-gap: 2px;
}

.right-sidebar__main {
  flex-grow: 1;
}

.right-sidebar__bar {
  flex-grow: 0;
  justify-content: right;
}

.grid--row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.growable {
  width: 100%;
}
